/* == Tags == */

body {
    background-color: gray;;
}

/* == Classes == */
.column {
    background-color: white;
}


/* == Elements == */


#joe-shoulak {
    width: 200px
}

article:nth-child(2) a img {
    width: 300px;
}

article a img {
    width: 150px;
}