/* == Tags == */

body {
    background-color: gray;;
}

/* == Classes == */
.column {
    background-color: white;
}


/* == Elements == */


#joe-shoulak {
    width: 200px
}
#code-refactor { /* TODO: do this without an ID tag */
    width: 250px; /* First project's picture is larger as per requirements */
}

#closest-named-color {
    width: 150px
}